

.okay-game-container {
  position:fixed;
  width: 100%;
  height: 78vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 7;
  

}
.okay-game-iframe {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}