.loto-game-container,.loto-lobby-container {
  position:fixed;
  width: 100%;
  height: 78vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 7;
}

.loto-game-iframe, .loto-lobby-iframe {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

